# Build directories
cmake-build-*/
build/
bin/
lib/
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and Editor folders
.idea/
.vscode/
*.swp
*.swo

# External dependencies and modules
_deps/

# Compiled binaries
*.o
*.a
*.so
*.dll
*.exe
*.dylib